/*Calculator CSS*/

h1 {
    text-align: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 18rem;
    margin:auto;
    background-color: #e0dddd;
    border: solid 5px #000;
}

#screen {
    background-color: #9c9897;
    height: 4rem;
    width: 90%;
    margin: 10px auto;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    background-color: #f0e518;
    width: 3.25rem;
    height: 3.25rem;
    margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 3px 3px #888888;
}

.button:active {
    box-shadow: 0px 0px;
}

.operator {
    background-color: #143ccc;
    margin-bottom: .25rem;
    height:2.5rem;
    width:4rem;
}

#buttons {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

#operators {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#clear, #equal {
    background-color: gray;
}
